# This is a basic workflow to help you get started with Actions

name: Deploy Pages

# Controls when the action will run.
on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  deploy-pages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "12.x"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build-storybook

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: public # The folder the action should deploy.
